@model IEnumerable<Flexap_Task.Models.Order>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PLU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datatime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PLU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datatime)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
	new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
	{
	DisplayItemSliceAndTotal = true,
	ContainerDivClasses = new[] { "navigation" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	})


@section Scripts{
<script>
	$(document).ready(function () {
		$('ul.pagination > li.disabled > a').addClass('page-link');
	});
</script>
}