@model Flexap_Task.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
     <form asp-action="Update" asp-controller="Cart">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PLU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PLU)
        </dd>
        @if (Model.ProductGaleries != null)
        {
             <div class=" row">
                @foreach (var galery in Model.ProductGaleries)
                {
                    <div class="col-lg-4 pb-3 ">
                        <img src="~/images/@galery.ImageUrl"
                             class="float-left"
                             height="150"
                             asp-append-version="true" />
                    </div>
                }
            </div>
        }
    </dl>
    </form>
</div>
<input type="hidden" id="forQuantity" value="" />
<a class="btn-block btn-danger text-center text-white text-uppercase " id="setPrametres" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add To Cart</a>
<div>
    <a asp-action="Index">Back to Shop</a>
</div>

@section Scripts {
<script>
	$(document).ready(function () {
		$('ul.pagination > li.disabled > a').addClass('page-link');
</script>
}